# 環境變數
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# 編輯器設置
.idea
.vscode
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 數據庫
database/*.db
database/*.sqlite
database/*.sqlite3

# 日誌
*.log
logs/

# 測試覆蓋率報告
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~

# Fly.io
.fly/ 